body {
    margin: 20px 0;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.25rem;
    width: 300px;
  }
  
  form, p {
    margin: 20px;
  }
  
  p.note {
    font-size: 1rem;
    color: red;
  }
  
  input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 4px;
    font-family: 'Lato';
    width: 300px;
    margin-top: 10px;
  }
  
  label {
    width: 300px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
  }
  
  label span {
    font-size: 1rem;
  }
  
  label.error {
      color: red;
      font-size: 1rem;
      display: block;
      margin-top: 5px;
  }