/*Tittle*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
/*Eslogan*/
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap');
/*Menú*/
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&family=Roboto:wght@300&display=swap');




  
div.imagen {
   display: flex;
   justify-content: center;
   
}

.ordenar{
    text-align: center;
    width: 350px;
    height: 250px;
    margin-right: 15px;
}


/* Wallpaper */

body{
    background-color: rgb(255, 255, 255);

}
/*Título*/
h1{
    color: rgb(240, 240, 240);

    font-family: 'Manrope', sans-serif;
    font-weight: 600;
   
}
/*Eslogan*/
h2{
    color: rgb(240, 240, 240);
    font-family: 'Laila', sans-serif;
    font-weight: 300;
    font-size: larger;
    
}

/*Menú*/
h4{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;

}
h5{
    font-family: 'Open Sans';
}

p{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;

}

.slide{
    width: 100%;

}
.slide img{

    height: 80vh;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}